.card-container {
  border: solid 1px black;
  padding: 40px 60px;
  margin: 20px;
  text-overflow: clip;
}

.answerSelection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 10px 20px;
}

.answer {
  cursor: pointer;
}

.answer:hover {
  background-color: #e6e6e6;
}

.selectedAnswer {
  font-weight: 800;
  cursor: pointer;
}
