.navbar-container {
  position: static;
  background-color: #ddd;
  padding: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: #aaa;
  border: 0;
  padding: 8px;
  border-radius: 5px;
}

button:hover {
  background-color: #888;
}
